[submodule "src/modules"]
	path = src/modules
	url = https://github.com/AppiumTestDistribution/device-farm-pro.git
[submodule "dashboard-frontend"]
	path = dashboard-frontend
	url = https://github.com/AppiumTestDistribution/appium-dashboard.git
