trigger:
- main

jobs:
 - job: UnitTest
   pool:
     vmImage: 'macOS-latest'

   steps:
    - task: NodeTool@0
      inputs:
       versionSpec: '16.x'

    - script: |
        npm ci
        npm test
      displayName: 'npm test'

 - job: iOSIntegrationTest
   pool:
     vmImage: 'macOS-latest'

   steps:
    - task: NodeTool@0
      inputs:
       versionSpec: '16.x'

    - script: |
        npm ci
        npm run integration-ios
      displayName: 'iOS Integration Test'

 - job: Android_Integration_Test
   pool:
     vmImage: 'macOS-latest'

   steps:
    - task: NodeTool@0
      inputs:
       versionSpec: '16.x'

    - script: |
        npm ci
      displayName: 'npm install'

    - bash: |
        echo "y" | $ANDROID_HOME/tools/bin/sdkmanager --install 'system-images;android-27;google_apis;x86'
      displayName: "install Android image"
    - script: |
        $ANDROID_HOME/emulator/emulator -list-avds
        echo '---'
        echo "no" | $ANDROID_HOME/tools/bin/avdmanager create avd -n test_android_emulator -k 'system-images;android-27;google_apis;x86' --force
        echo '---'
        echo '---'
        echo "no" | $ANDROID_HOME/tools/bin/avdmanager create avd -n test_android_emulator1 -k 'system-images;android-27;google_apis;x86' --force
        echo '---'
        $ANDROID_HOME/emulator/emulator -list-avds
      displayName: "create AVD"
    - script: |
        $ANDROID_HOME/platform-tools/adb devices
        echo '---'
        nohup $ANDROID_HOME/emulator/emulator -avd test_android_emulator -no-snapshot > /dev/null 2>&1 & $ANDROID_HOME/platform-tools/adb wait-for-device shell 'while [[ -z $(getprop sys.boot_completed | tr -d '\r') ]]; do sleep 1; done; input keyevent 82'
        echo '---'
        echo '---'
        nohup $ANDROID_HOME/emulator/emulator -avd test_android_emulator1 -no-snapshot > /dev/null 2>&1 & $ANDROID_HOME/platform-tools/adb wait-for-device shell 'while [[ -z $(getprop sys.boot_completed | tr -d '\r') ]]; do sleep 1; done; input keyevent 82'
        echo '---'
        $ANDROID_HOME/platform-tools/adb devices
      displayName: "start Android emulator"
    - script: |
        npm run build --if-present
        npm run integration-android
      displayName: "Run ANDROID Test"

 - job: E2ETest
   pool:
     vmImage: 'macOS-latest'

   steps:
    - task: NodeTool@0
      inputs:
       versionSpec: '16.x'

    - script: |
        npm ci
        export APPIUM_HOME=/tmp/device-farm
        ./node_modules/.bin/appium plugin install --source=local .
        nohup ./node_modules/.bin/appium server -ka 800 --use-plugins=device-farm -pa /wd/hub --plugin-device-farm-platform=both &
        npm run integration-ios
      displayName: 'E2E Test'
