.header-container {
  display: flex;
  flex-direction: row;
  background-color: #15252b;
  height: 70px;
  width: 100%;
  border-bottom: 1px solid #ced8e1;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

.header-logo-container {
  display: flex;
  align-self: flex-start;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding-right: 10px;
  padding-left: 10px;
}

.header-logo-image {
  width: 50px;
}

.header-logo {
  color: #fbfaff;
  font-size: 20px;
  font-weight: 700;
}
