

.app__container {
  margin: auto;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  position: fixed;
}

.app__wrapper {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
}

.app__loading {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}

.app__loading_message {
  font-size: 25px;
}

.app__main_content {
  margin: auto;
  margin-top: 20px;
  height: 100%;
  width: 99%;
  border: 1px solid #ced8e1;
  display: flex;
}

.session-details__message_container {
  display: flex;
  align-items: center;
  width: auto;
  height: 100%;
  margin: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.session-details__message {
  font-size: 15px;
  font-weight: bold;
  color: #2d2d2d;
}


