.device-info-card-container {
  background-color: white;
  height: 250px;
  width: 280px;
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 16px;
  border-radius: 5px;
  cursor: pointer;
  position: relative;
  box-shadow: 0 0 3px rgba(33, 33, 33, 0.2);
  border: 1px solid rgb(255, 255, 255);
}

/* Disabled mode */

.device-info-card-container.disabled {
  background-color: #f6f2f2;
  box-shadow: unset;
}

.device-info-card-container.disabled:hover {
  box-shadow: unset;
  transform: unset;
}

/* If the device is busy*/
.device-info-card-container.busy {
  border: 1px solid rgb(238, 137, 137);
}

/* device card title */
.device-info-card-container__title_wrapper,
.device-info-card-container__footer_wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 20px 0 15px 0;
}

.device-info-card-container__title_wrapper {
  border-bottom-color: #ecebf0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

.device-info-card-container__device-icon {
  height: 16px;
  width: 16px;
}

.device-info-card-container__device-icon.ios {
  height: 20px;
  width: 20px;
}

.device-info-card-container__device-title {
  font-size: 14px;
  font-weight: bold;
  color: #000000;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 250px;
  margin-right: auto;
}

.device-state {
  color: #000000;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  align-self: center;
  padding: 4px 8px;
  width: 60px;
  text-align: center;
  background-color: #e5e5e5;
}

/* .device-state::before {
  content: '';
  display: inline-block;
  font-size: 10px;
  height: 8px;
  width: 8px;
  border-radius: 50%;
  margin-right: 3px;
} */

.device-state.ready {
  color: #00bc8f;
  background-color: #e4f8f4;
}

.device-state.busy {
  color: #bc0000;
  background-color: #f8e5e5;
}

/* .device-state.offline::before {
  background: grey;
} */

/* body */
.device-info-card-container__body {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px 0;
}

.device-info-card-container__body_row {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
  width: 100%;
  justify-content: space-between;
  align-items: flex-start;
}

.device-info-card-container__body_row_label {
  font-size: 12px;
  color: #57606a;
  min-width: 100px;
  font-weight: 500;
}
.device-info-card-container__body_row_value {
  font-size: 12px;
  font-weight: 600;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 190px;
  color: rgb(61, 59, 59);
}

.device-info-card__body_block-device,
.device-info-card__body_unblock-device,
.device-info-card__body_block-device-disabled {
  width: 100%;
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 3px;
}

.device-info-card__body_unblock-device {
  background: #f8e5e5;
  border: 1px solid #bc0000;
  color: #bc0000;
}
.device-info-card__body_block-device {
  background: #e6f8f3;
  border: 1px solid #0bb785;
  color: #0bb785;
}
.device-info-card__body_block-device-disabled {
  background: #e6f8f3;
  border: 1px solid #0bb785;
  color: #0bb785;
  opacity: 0.3;
}

/* footer */
.device-info-card-container__footer_wrapper {
  padding-top: 0px;
}

.dashboard-link-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 10px;
}

.footer-icon {
  height: 15px;
  width: 15px;
  margin-right: 5px;
}

.footer-deeplink {
  font-size: 12px;
  color: #195ead;
  font-weight: 600;
  cursor: pointer;
  text-decoration: underline;
}

.footer-label {
  font-size: 12px;
  color: #57606a;
  font-weight: 600;
}
