.sidebar-container {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;
  width: 75px;
  align-items: center;
  padding: 15px 0;
  background-color: #15252b;
}
.sidebar-logo {
  width: 60px;
}

.sidebar-ctas {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.sidebar-cta {
  background-color: #15252b;
  border: none;
  display: flex;
  justify-self: center;
  align-items: center;
  border-radius: 8px;
  padding: 10px 10px;
  cursor: pointer;
  margin: 15px 10px;
}
.sidebar-cta.selected {
  background-color: #ffffff;
}
.sidebar-cta-icon {
  width: 25px;
}
