name: CI

on:
  pull_request:

jobs:
  buildWithSubmodule:
    name: Run Unit Test
    runs-on: macos-latest
    strategy:
      matrix:
        node: [20]

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          path: main

      - name: Checkout submodules
        run: |
          cd appium-device-farm
          echo 'https://AppiumTestDistribution:${{secrets.CI}}@github.com' >~/.git-credentials
          git config --global credential.helper store
          git submodule update --init --recursive
      
      - name: Checkout private tools
        uses: actions/checkout@v4
        with:
          submodules: true
          token: ${{ secrets.CI }}

      - name: Checkout submodules
        shell: bash
        run: |
          auth_header="$(git config --local --get http.https://github.com/.extraheader)"
          git submodule sync --recursive
          git -c "http.extraheader=$auth_header" -c protocol.version=2 submodule update --init --force --recursive --depth=1
